.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  width: 950px;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 25px;
  min-width: 300px;
}

.coin h1 {
  font-size: 16px;
  width: 160px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin img {
  height: 50px;
  width: 50px;
  margin-right: 25px;
}

.coin-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.coin-price {
  width: 130px;
}

.coin-percent {
  width: 110px;
}

.coin-volume {
  width: 200px;
}


.coin-marketcap {
 width: 200px; 
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}
